{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>TO-DO LOGIN</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style_login.css' %}"
    />
  </head>
  <body>
   <div class="heading">
    <h1>WELCOME TO OUR TO-DO</h1>
   <h2> MAKE YOU'R DAY <span>PRODUCTIVE</span></h2>
   </div>
    <div class="login-container">
      <h2>Login</h2>
      <form method="POST">
        {% csrf_token %}
        <div class="input-group">
          <input type="text" name="username" placeholder="Username" required />
        </div>
        <div class="input-group">
          <input
            type="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <button type="submit" class="btn">Login</button>
        {% if error %}
        <p class="error-message">{{ error }}</p>
        {% endif %}
        
      </form>
      <p class="register-text">
        New User? <a href="{% url 'register' %}">Register</a>
      </p>
    </div>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
